<script type="text/javascript">
  var grades = <%= Enrollment.where("course_id" => @course.id).pluck(:percentage).to_json %>;

  function postLetterGrades() {
    <% Enrollment.where("course_id" => @course.id).to_a.each do |e| %>
        var grade = getLetterGrade(<%= e.percentage %>);
        console.log(grade);
        $.ajax({
                type: 'POST',
                url: '/enrollments/update_lettergrades',
                data: {
                  enrollment: {
                    id: <%= e.id %>,
                    lettergrade: grade
                  }
                },
                async:false
              });
    <% end %>
  }

  checkBounds();

</script>

<% @boundLabels = [ 'Max', 'A+' , 'A' , 'A-',
                    'B+' , 'B'  , 'B-', 'C+',
                    'C'  , 'C-' , 'D']

   @histLabels =  [ 'ap', 'a' , 'am' , 'bp',
                    'b' , 'bm', 'cp' , 'c',
                    'cm', 'd']
%>


<h1>Histogram Generator for <%= @course.name %> </h1>

<div class="row">
  <div id="bounds" class="col-xs-6">
    <h4> Lower Bounds </h4>
    <table class="table borderless">
      <% num = 105.00
        @boundLabels.each do |label| %>
        <tr>
          <td> <label for="<%= label %>"> <%= label %> </label> </td>
          <td> <input name="<%= label %>" value="<%= num -= 5 %>" oninput="checkBounds()"></input>
        </tr>
      <% end %>
      <tr>
        <td> <label for="F">F</label> </td>
        <td> <input name="F" value="0.00"></input>
      </tr>
    </table>
    <p class="error-message" id="error"></p>
  </div>
  <div id="histogram" class="col-xs-4">
    <h4> Histogram </h4>
    <table id="histogramTable" class="table borderless">
      <% i = 0
        @histLabels.each do |label| %>
        <tr>
          <td> <span> <%= @boundLabels[i += 1] %> </span> </td>
          <td> <span id="<%= label %>"> </span>
        </tr>
      <% end %>
      <tr>
        <td> <span>F</span> </td>
        <td> <span id="f"> </span>
      </tr>
    </table>
  </div>
</div>

<div class="btn btn-primary">
	<%=link_to 'Submit', course_path(@course), onclick: "postLetterGrades()"%>
</div>
