<!DOCTYPE html>
<html>
<head>
  <title>Ruby Getting Started on Heroku</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse navbar-center">
  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Home",   '/' %></li>
      <li><%= link_to "Students",   '/students' %></li>
      <li><%= link_to "Courses",   '/courses' %></li>
      <li><%= link_to "Enrollment",   '/enrollments' %></li>
    </ul>
  </nav>
</header>

<div class="container">
  <%= yield %>
</div>


</body>
</html>
